{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Restaurant Booking{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bookings/css/style.css' %}">
  </head>
  <body>
    <body>
  <nav>
    <a href="{% url 'home' %}">Home</a>

    {% if user.is_authenticated %}
      <a href="{% url 'book_table' %}">Book</a>
      <a href="{% url 'my_reservations' %}">My Reservations</a>

      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>